########################################
# MAVEN / JAVA BUILD ARTIFACTS
########################################

target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper (keep scripts, ignore internal cache)
.mvn/wrapper/maven-wrapper.jar

########################################
# IDE METADATA
########################################

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

########################################
# LOGS / RUNTIME
########################################

*.log
logs/

########################################
# ENVIRONMENT FILES
########################################

.env
*.env
application-local.properties
application-test.properties

########################################
# TEMP FILES
########################################

tmp/
*.tmp
